@import "../../scss/variables";
.actionPopup {
  position: absolute;
  //   width: min-content;
  //   height: min-content;
  background-color: white;
  width: max-content;

  top: 4rem;
  right: 0;
  border-radius: 0.5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  z-index: 30;
  cursor: pointer;
}

.actionPopup h5 {
  padding: 0.3rem 0 0.3rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  color: $black;

  margin: 0;
}

.actionPopup h5:hover {
  background-color: $yellow;
}
